{% extends "layout.njk" %}

{% block content %}
       <body>

           
          <a href="/course" class="back-page-course">
            <img src="/icons/back.svg" alt="back">
          </a>   


        <div class="wrapper-course">
         
            
            <img src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/gostack.svg" alt="gostack">                
            <h1>Conteúdo Launchbase</h1>


            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porttitor blandit iaculis. Etiam et fermentum ante, a eleifend lacus. Maecenas ultrices lorem at pulvinar malesuada. Duis vestibulum ligula non mi pharetra, </br>quis cursus magna dapibus. Curabitur cursus ultricies ornare. Donec vel nibh est. Etiam sagittis elit id magna mollis euismod. Sed ullamcorper ultricies diam, vel euismod ex mattis vel. In hac habitasse platea dictumst.</p>
            <p>Sed posuere diam nec nunc lacinia tincidunt. Mauris erat dolor, aliquam quis odio a, scelerisque congue est. Vestibulum tincidunt risus volutpat nulla porta venenatis. Curabitur at metus aliquet, pulvinar sapien blandit, iaculis sapien. Suspendisse potenti. Quisque porttitor odio vitae blandit efficitur. Sed rutrum auctor dolor et tristique. Quisque nec consequat libero, sed finibus quam. Proin euismod, orci non placerat consequat, ipsum arcu viverra eros, id blandit lorem ante in mauris. Quisque ultricies ullamcorper turpis, nec ornare ligula dignissim eu. Pellentesque sem nunc, euismod vitae magna at, gravida commodo lorem. Quisque porta, ante vel rutrum convallis, ante ex vulputate nisl, non dictum dolor purus vel ligula. Nulla vel sagittis sem.</p>
            
        </div>


    </body>
</html>

{% endblock %}