{% extends "layout.njk" %}

{% block head %}
    <title>NOT FOUND :(</title>
{% endblock %}


{% block content %}

    <div class="page-not-found">
        <h1> PÁGINA NÃO ENCONTRADA :( </h1>
    </div>
{% endblock %}